<div class="header">
  <div class="security-type">
    <a class="security my-security">
      <span class="material-icons"> admin_panel_settings </span>
      <span> Minha Segurança</span>
    </a>

    <a class="security thirth-security">
      <span class="material-icons"> account_tree </span>
      <span>Segurança de Terceiros</span>
    </a>
  </div>

  <ul>
    <li>
      <span>Olá Débora, Seja bem vinda!</span>
    </li>

    <li>
      <span class="material-icons">account_circle</span>
    </li>

    <li>
      <span class="material-icons">settings</span>
    </li>
  </ul>
</div>
