<div class="sidenav">
  <div class="sidenav__close-icon">
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>

  <ul class="sidenav__list">
    <li class="sidenav__list-item">
      <a routerLink="/pages/dashboard" routerLinkActive="menu-active">
        <span class="material-icons">dashboard</span>
        <span>Home</span>
      </a>
    </li>

    <li class="sidenav__list-item">
      <a routerLink="/pages/hub-score" routerLinkActive="menu-active">
        <span class="material-icons">language</span>
        <span>Hub Score</span>
      </a>
    </li>

    <li class="sidenav__list-item">
      <a>
        <span class="material-icons">notifications</span>
        <span>Notificações</span>
      </a>
    </li>

    <li class="sidenav__list-item">
      <a>
        <span class="material-icons">account_tree</span>
        <span>Terceiros</span>
      </a>
    </li>

    <li class="sidenav__list-item" routerLinkActive="active-menu">
      <a routerLink="/pages/evaluation">
        <span class="material-icons">description</span>
        <span>Avaliações</span>
      </a>
    </li>

    <li class="sidenav__list-item">
      <a>
        <span class="material-icons">security</span>
        <span>Padrões e Frameworks</span>
      </a>
    </li>
  </ul>
</div>
