<div class="main-overview">
  <div class="grid">
    <div class="col-2">
      <div class="col">
        <app-providers></app-providers>
      </div>

      <div class="col">
        <app-alert></app-alert>
      </div>

      <div class="col">
        <app-evaluation></app-evaluation>
      </div>
    </div>

    <div class="col-3">
      <div class="col">
        <app-supplier-providers></app-supplier-providers>
      </div>

      <div class="col">
        <app-supplier-risk></app-supplier-risk>
      </div>
    </div>

    <div class="col-4">
      <div class="col">
        <app-third-score-average></app-third-score-average>
      </div>
      <div class="col">
        <app-critical-supplier-performance></app-critical-supplier-performance>
      </div>
    </div>

    <div class="col-3">
      <div class="col">
        <app-your-score></app-your-score>
      </div>
      <div class="col">
        <app-insights></app-insights>
      </div>

      <div class="col">
        <app-hub-score></app-hub-score>
      </div>
    </div>
  </div>
</div>
